.wrapper {
  margin-top: 160px;
  margin-bottom: 160px;
  padding-left: 12%;
  padding-right: 12%;
  text-wrap: pretty;
  text-align: justify;
  /* position: sticky;
  top: 0; */
  overflow-x: hidden; /*be sure to double check on this*/
}

.why {
  width: 25%;
  display: inline-block;
  font-family: var(--font-playfair);
  font-size: 2rem;
  font-weight: 600;
  vertical-align: 45%;
}

.lead {
  display: inline;
  font-family: var(--font-playfair);
  font-size: 5rem;
  line-height: 6rem;
}

.anim_highlight {
  position: relative;
  width: 0;
}

.anim_highlight::before {
  content: '';
  position: absolute;
  margin: auto;
  top: 28%;
  left: -1rem;
  width: 0%;
  height: 50%;
  background: var(--white);
  z-index: -1;
  transition: width 1s ease-in-out;
}

.active::before {
  width: 100%;
  padding-right: 1.5rem;
}

.gallery_wrapper {
  margin-top: 32px;
}
