/* USING ANSI SHADOW  */

/* 
██╗   ██╗ █████╗ ██████╗ ██╗ █████╗ ██████╗ ██╗     ███████╗███████╗
██║   ██║██╔══██╗██╔══██╗██║██╔══██╗██╔══██╗██║     ██╔════╝██╔════╝
██║   ██║███████║██████╔╝██║███████║██████╔╝██║     █████╗  ███████╗
╚██╗ ██╔╝██╔══██║██╔══██╗██║██╔══██║██╔══██╗██║     ██╔══╝  ╚════██║
 ╚████╔╝ ██║  ██║██║  ██║██║██║  ██║██████╔╝███████╗███████╗███████║
  ╚═══╝  ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚══════╝╚══════╝
  
  Search Friendly: Variables, vars
*/
:root {
  --black: #000;
  --dark-grey: #272218;
  --rouge: #581b14;
  --light-rouge: #e1b48a;
  --test: #82281d;
  --gold: #ffd700;
  --green: #8bc34a;
  --white: #ffefc5;
  --clean-white: #fff;
}

/* 
 ██████╗███████╗███████╗    ██████╗ ███████╗███████╗███████╗████████╗
██╔════╝██╔════╝██╔════╝    ██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝
██║     ███████╗███████╗    ██████╔╝█████╗  ███████╗█████╗     ██║   
██║     ╚════██║╚════██║    ██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║   
╚██████╗███████║███████║    ██║  ██║███████╗███████║███████╗   ██║   
 ╚═════╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝    
 
 Search Friendly: CSS Reset
 */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100vw / 1512 * 10);
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: calc(100vw / 1280 * 10);
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024 * 10);
  }
}

/* @media only screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
} */

/* @media only screen and (max-width: 540px) {
  html {
    font-size: calc(100vw / 540 * 10);
  }
} */

@media only screen and (max-width: 430px) {
  html {
    font-size: calc(100vw / 430 * 10);
  }
}

@media only screen and (max-width: 300px) {
  html {
    font-size: calc(100vw / 300 * 10);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-size: clamp(12px, 1.4rem, 16px);
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 450;
  font-variation-settings: 'wght' 450;
}

h1 {
  font-size: 16rem;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 8rem;
  letter-spacing: -0.02em;
}

.hidden {
  display: none;
}

/* fixing transition stacking order */
::view-transition-old(root),
::view-transition-new(root) {
  /* disables default transition animations */
  /* ensures only our custom animations are fired */
  animation: none !important;
}

::view-transition-group(root) {
  /* allows each individual element within to be layered independently */
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  /* creates new stacking context, ensuring old & new pages don't s'interferer */
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

/* setting stacking order for old and new views */
::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
