.about_wrapper {
  margin-top: 160px;
  margin-bottom: 160px;
  padding-left: 8%;
  padding-right: 8%;
  text-wrap: pretty;
  text-align: justify;
  /* position: sticky;
  top: 0; */
  overflow-x: hidden; /*be sure to double check on this*/
}

.intro {
  margin-bottom: 60px;
}

.who {
  width: 25%;
  display: inline-block;
  font-family: var(--font-playfair);
  font-size: 2rem;
  font-weight: 600;
  vertical-align: 45%;
}

.lead {
  display: inline;
  font-family: var(--font-playfair);
  font-size: 5rem;
  line-height: 6rem;
}

.highlight {
  background-color: var(--white);
  /* height: 25px; */
  line-height: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
}

.about_content {
  display: flex;
  flex-direction: row;
}

.about_text {
  width: 35%;
}

.quote_container {
  width: fit-content;
  border-left: 8px solid var(--gold);
  padding-left: 10px;
}

.quote {
  font-family: var(--font-playfair);
  font-weight: 600;
  font-size: 3rem;
  color: var(--dark-grey);
}

.joseph {
  font-family: var(--font-manrope);
  font-size: 1.5rem;
}

.paragraph_one {
  margin-top: 32px;
  font-family: var(--font-manrope);
  font-size: 2.2rem;
  font-weight: 600;
}

.paragraph_two {
  margin-top: 32px;
  font-family: var(--font-manrope);
  font-size: 2.2rem;
}

.about_image {
  /* position: relative;
  left: 5%;
  object-fit: cover; */
  /* width: 25%; */
}

.image_wrapper {
  position: relative;
  left: 8%;
  width: 120%;
  overflow-x: hidden;
  border-radius: 25px;
}
